<% include partials/header %>
<% if(currentUser && currentUser.isJordon){ %>
<div class="container createButton">
    <div class="row">
        <div class="col-sm-12">
            <a href="/blog/createpost"><button>Create New Post</button></a>
        </div>
    </div>
</div>
<% } %>
<% Posts.forEach(function(Posts){ %>
<div class="container blogPrevBox">
    <div class="row">
        <div class="col-sm-12">
            <img src="<%= Posts.image %>" class="blogPrevImg">
        </div>
        <div class="col-sm-12">
            <div class="foreGround">
                <h1 class="blogPrevTitle"><%= Posts.name %></h1>
                <hr class="blogPrevHr">
                <div class="myFace"></div>
                <div class="blogTime"><small><%= moment(Posts.createdAt).fromNow() %></small></div>
            </div>
            <div class="blogPrevText">
                <p>
                    <%= Posts.textField %>
                </p>
            </div>
            <a href="/blog/<%= Posts._id %>"><button class="btn btn-secondary btn-lg btn-block">Read More</button></a>
        </div>
    </div>
</div>
<% }); %>
<% include partials/footer %>